@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', sans-serif;
}
.container{
    margin: auto;
}
.S-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.C-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex{
    display: flex;
    align-items: center;
    text-align: center;
}
.gird-3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.gird-4{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-weight: 600;
    transition: .2s ease;
}
h1{
    font-size: 40px;
}
.span-red{
    color: #ff6f61;
}
i{
    font-size: 20px;
    font-weight: 500;
    transition: .2s ease;
}
h2{
    font-size: 50px;
    font-weight: 300;
}
h1{
    font-size: 50px;
    font-weight: 400;
}
p{
    color: #4d4d4d;
    font-weight: 400;
    font-size: 17px;
}
button{
    padding: 10px 20px;
    background-color: #ff6f61;
    color: #fff;
    border: none;
    font-size: 18px;
    
}
h4{
    font-size: 20px;
}
h3{
    font-size: 30px;
}
















