

/* Add padding to containers */
.add-category .container {
    padding: 16px;
  }
  
  /* Full-width input fields */
.add-category input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
.add-category input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
.add-category hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit/register button */
.add-category .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
.add-category .registerbtn:hover {
    opacity:1;
  }
  
  /* Add a blue text color to links */
  .add-category a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
 .add-category .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
.card{
  width: 80%;
  margin-left: 50px;
  align-items: center;
}
.cardhead{
  background-color: #04AA6D;
  padding: 10px 10px;
}
table{
  margin-top: 10px;
  width: 100%;
  align-items: center;
  text-align: center;
}
.cardhead h4{
  color: #fff;
}
tbody{
  margin-top: 10px;
}



